body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 5%;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    width: 40%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

h2 {
    color: #333;
    margin-bottom: 5%;
    font-size: 2em;
    font-weight: bold;
}

.input-connexion {
    width: 90%;
    padding: 3%;
    margin: 2% 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    font-size: 16px;
}

.input-connexion:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
    outline: none;
    transform: scale(1.02);
}

.btn-submit-connexion {
    width: 90%;
    padding: 3%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    font-size: 16px;
    font-weight: bold;
}

.btn-submit-connexion:hover {
    background-color: #0056b3;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin: 2% 0;
    color: #555;
    font-size: 14px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

.checkbox-container input {
    margin-right: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-create-account {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    margin-top: 20px;
}

.btn-create-account:hover {
    background-color: #218838;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
